[package]
name = "{{project-name | kebab_case}}"
version = "0.1.0"
edition = "2021"
authors = ["{{authors}}"]
description = "{{project-description}}"

[lib]
crate-type = [ "cdylib" ]

[dependencies]
anyhow = "1"
bytes = "1"
http = "0.2"
spin-sdk = "3.0"
spin-kinesis-sdk = { git = "https://github.com/ogghead/spin-trigger-kinesis" }

[workspace]